body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8fafb;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.breadcrumb {
  padding: 40px 0 20px;
}

.breadcrumb a {
  color: #4a5264;
}

.breadcrumb h4 {
  display: inline;
  margin-left: 5px;
}

.breadcrumb h4:hover {
  text-decoration: underline;
}
section,
.section {
  padding: 5px 0;
}
h1 {
  font-size: 32px;
  line-height: 1;
}
h2 {
  font-size: 24px;
  line-height: 1.5;
}
h3 {
  font-size: 18px;
  line-height: 1.5;
}

p,
li {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
}

.container img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust the height as needed */
  background-color: #f8f8f8; /* Background color */
  border: 1px solid black;
  text-align: center;
}

.footer h2 {
  margin: 0;
}

.footer-links {
  display: flex; /* Arrange links in a row */
  justify-content: space-around; /* Space evenly across the container */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  margin-top: 16px; /* Space between the heading and links */
  width: 100%; /* Full width */
  max-width: 600px; /* You can adjust this to fit your layout */
}

.footer a {
  margin: 10px; /* Uniform margin between buttons */
  text-decoration: none;
  color: black; /* Link color */
  font-size: 20px; /* Icon size */
  border: 1px solid black;
  padding: 12px; /* Same padding for top, right, bottom, and left */
  flex: 1; /* Allow buttons to grow equally */
  text-align: center; /* Center the text within the button */
  border-radius: 5px; /* Rounded corners for a button look */
  background-color: white; /* Background color of the button */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  box-sizing: border-box; /* Include padding/border in the element's total width */
}

/* Hover effect for buttons */
.footer a:hover {
  background-color: black; /* Background color on hover */
  color: white; /* Text color on hover */
}
.footer a .icon {
  margin-right: 10px; /* Space between icon and text */
}

.designer {
  text-align: center;
  margin: 20px 0; /* Space above and below the designer text */
}
@media (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3,
  p,
  li {
    font-size: 16px;
  }

  .breadcrumb {
    padding: 40px 0 10px;
  }

  footer p {
    margin: 20px;
  }
}
