body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8fafb;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}

.breadcrumb {
  padding: 40px 0 20px;
}

.breadcrumb a {
  color: #4a5264;
}

.breadcrumb h4 {
  display: inline;
  margin-left: 5px;
}

.breadcrumb h4:hover {
  text-decoration: underline;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
}
section,
.section {
  padding: 10px 0;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}

p,
li {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

footer {
  padding: 10px 0;
}

footer h3 {
  margin: 10px 0 0;
}

footer p {
  font-size: 16px;
  text-align: center;
  margin: 10px;
}

img {
  width: 25%;
  height: auto;
}

.work-enquiry {
  text-align: center;
  margin: 0 auto;
  padding: 20px 16px 32px;
  background-color: #d0e0e3;
  border-radius: 4px;
}

.work-enquiry h3 {
  font-size: 24px;
}

.work-enquiry p {
  padding: 16px 8px;
  line-height: 1.5;
}

.work-enquiry a {
  color: black;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.work-enquiry a:hover {
  color: white;
  background-color: black;
}

.card-social {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
.card-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.card-social a {
  background-color: black;
  color: white;
  padding: 8px;
  margin: 0 6px;
  border-radius: 40px;
  text-decoration: none;
}

.card-social ul {
  justify-content: center;
}

.card-social span {
  display: none;
  transition: all 50ms ease-in-out;
}
.card-social a:hover span {
  display: inline;
  cursor: pointer;
}
#card-social {
  background-color: #f6f0e9;
  border: 1px solid black;
  border-radius: 0;
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3,
  p,
  li {
    font-size: 16px;
  }

  .breadcrumb {
    padding: 40px 0 10px;
  }

  footer p {
    margin: 0 10px 10px;
  }
}
