@font-face {
  font-family: "BN_Bergen_StBlack"; /* Use a more standard naming convention */
  src: url("./fonts/bnbergenst-black-webfont.woff2") format("woff2"),
    url("./fonts/bnbergenst-black-webfont.woff") format("woff");
  font-weight: normal; /* Adjusted to represent 'black' weight */
  font-style: normal; /* Style is set to normal */
}
@font-face {
  font-family: "BN_Bergen_StMedium"; /* Use a more standard naming convention */
  src: url("./fonts/bnbergenst-medium-webfont.woff2") format("woff2"),
    url("./fonts/bnbergenst-medium-webfont.woff") format("woff");
  font-weight: normal; /* Adjusted to represent 'black' weight */
  font-style: normal; /* Style is set to normal */
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  background-image: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #f0f0f0; /* Light gray background */
  font-family: "Tajawal", serif;
  font-size: 18px;
  position: relative; /* Position relative to use pseudo-elements */
  line-height: 1.5;
}

body::before {
  content: ""; /* Necessary for pseudo-element */
  position: absolute; /* Position it over the body */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Stretch to the right */
  bottom: 0; /* Stretch to the bottom */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1; /* Keep it above the background but below other content */
}

.page-container {
  text-align: center;
  position: relative; /* Keep content above the overlay */
  z-index: 3; /* Center text in the container */
}
h1 {
  font-family: "BN_Bergen_StBlack";
  font-size: 52px;
  padding: 8px;
  color: white;
  letter-spacing: 2px;
}

h2 {
  font-size: 24px;
  padding: 8px;
  font-weight: 500;
  color: white;
}

.list a {
  text-decoration: none;
  font-family: "Tajawal", serif;
  font-weight: 500;
  color: black;
  cursor: pointer;
  color: #ff69b4;
  padding: 0 12px;
  letter-spacing: 1.5px;
}

.list a:hover {
  opacity: 0.6;
}

.list {
  font-family: "BN_Bergen_StMedium";
  padding: 8px;
  margin: 0 15px;
  text-transform: uppercase;
}

footer {
  width: 100%; /* Full width */
  position: absolute; /* Position it at the bottom */
  bottom: 0; /* Align to the bottom */
  text-align: center; /* Center content in footer */
  color: white; /* White text color */
  padding: 10px 0; /* Padding for top and bottom */
  z-index: 2;
}

footer p {
  margin-top: 10px;
}

.social-icons a {
  padding: 12px 10px 6px;
  color: #ff69b4;
  background-color: white;
  border-radius: 100%;
  margin: 0 6px;
  cursor: pointer;
}

.social-icons a:hover {
  opacity: 0.6;
}
